<div class="dialogWrapper">
  <div class="search-bar">
    <h1 class="heading">Gif Search</h1>
    <div>
      <input name="search" #searchTerm>
      <button (click)="performSearch(searchTerm)">Search</button>
    </div>
    <p>You can search any gif with our search</p>
    <p>Everything you need for an creative projects.websites,banners,presentations,magazines and advertising.</p>
  </div>
  <div class="main-container">
    <div *ngFor="let g of giphies">
      <img src="{{g.images.original.url}}">
    </div>
  </div>
  <div class="footer">
    <div class="left-footer">
      <p> Sign up and</p>
      <p>and get free content every week.</p>
      <input class="email" type="search" placeholder="Enter your email...">
      <button class="signUp">Sign Up</button>

    </div>
    <div class="right-footer">
      <h4>Browse by Categories</h4>

      <table>
        <tr>
          <td>Graphics</td>
          <td>Addons</td>
          <td>Buttons</td>
          <td>Inforgraphics</td>
        </tr>
        <tr>
          <td>PSDs</td>
          <td>Fonts</td>
          <td>Forms</td>
          <td>Graphs</td>
        </tr>
        <tr>
          <td>Icons</td>
          <td>Textures</td>
          <td>GUI</td>
          <td>Logos</td>
        </tr>
        <tr>
          <td>Templates</td>
          <td>Patterns</td>
          <td>Navigation</td>
          <td>Vectors</td>
        </tr>
        <tr>
          <td>Themes</td>
          <td>Backgrounds</td>
          <td>UI Kits</td>
          <td>Business Cards</td>
        </tr>
      </table>

    </div>
  </div>
</div>