.dialogWrapper
    .search-bar
        height: 200px;
        background: orange;
        > div, h1, p
            text-align: center;
            color: white;
        .heading
            color: white;
    .main-container
        height: 500px;
        > div
            margin: 9px;
            width: 31.7%;
            display: inline-block;
            > img
                width: 100%;
    .footer
        background: #282828;
        height: 240px;
        .right-footer
            position: absolute;
        .left-footer,.right-footer
            width: 45%;
            color: white
            display: inline-block;
            padding-left: 45px; 
            .signUp
                width: 270px;
                color: white;
                background: deepskyblue;
                border-width: 0px;
                border-radius: 5px;
                height: 41px;
            .email
                width: 270px;
                display: block;
                border-radius: 5px;
                height: 41px;
                border-width: 0px;
                margin-bottom: 10px;

table {
  border-collapse: collapse;
}
td {
    padding: 10px 30px 10px 0px;
    font-weight: 600;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    color: white;
    font-size: 10px;
    opacity: 0.7;
}                


